{% extends 'base.html' %}

{% block content %}

<form class="post-form" method="post" enctype="multipart/form-data">
  <h1>
    {% with "true" as data %} 
      {% if data == "true" %}
        Edit
      {% else %}
        Add
      {% endif %}
    {% endwith %}
    a Post
  </h1>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <table>
    <tr>Select image: <input type="file" name="photo-file"></tr>  
  </table>
  <input class="blue-btn" type="submit" value="Submit!">
</form>

{% endblock %}