* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #141417;
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 10px;
    color: #4157B7;
    font-size: 3em;
}

.nav-links {
    font-size: 120%;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav-links a:hover {
    color: #4157B7;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    color: grey;
    padding: 20px;
}

.categories a.active {
    background-color: #5575F6;
    color: white;
}

.instructions {
    padding-top: 20px;
    font-size: 80%;
    margin: 0 15px;
}

h4 {
    color: #4157B7;
}

.photo {
    height: 60%;
    width: 100%;
}

.card {
    background-color: #313139;
    margin: 1em auto;
}

.landing {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.grey-text {
    color: grey;
}

.blue-btn {
    background-color: #5575F6;
    color: white;
    border-radius: 25px;
    padding: 8px 12px;
    margin: 0 auto;
}

.red-btn {
    background-color: #EB3223;
    color: white;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-head {
    padding: 10px 0;
}

.categories a {
    margin: 0;
    width: 200px;
    border: 1px solid #5575F6;
    color: #5575F6;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin: 20px auto;
}

.categories a {
    padding: 1em;
    display: flex;
    
}

.coming-soon {
    display: flex;
    align-items: center;
    color: grey;
}

.contest-head {
    width: 100%;
    display: flex;
    justify-content: space-around;   
    align-items: center;
    line-height: 2em;
}

.new-post {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 600px) {
    header {
        width: 100%
    }

    h1 {
      margin: 20px;  
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .landing {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .photo {
        height: 60%;
        width: 100%;
    }
    
    .contest-head {
        justify-content: space-between;
    }
}