{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Contest</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>Like.</h1>
            <div class="nav-links">
                <a href="{% url 'landing' %}">Contests</a> |
                {% if user.is_authenticated %}
                    <a href="{% url 'my_account' user.id %}">{{user.username}}</a> |
                    <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                    <a href="{% url 'login' %}">Log In</a> |
                    <a class="blue-btn" href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>All photos are copyright by owners, please do not reuse and/or re-purpose</p>
        <p>Copyright 2018</p>
    </footer>
</body>
</html>