{% extends 'base.html' %}
{% block content %}
<div class="contests">
    <div class="instructions">
        <h4>ABOUT THIS APP</h2>
        <p>Create an account to start a photo contest between your friends and family, or log in to vote for your favorites!</p>     
    </div>
    <br>
    {% ifequal post.user user %}
        <div class="landing-head">
            <a class="blue-btn" href="contests/create/">Create Contest</a>
            <h4>MOST RECENT CONTEST</h4>
        </div>
    {% endifequal %}

    <div class="main-container">
        {% for contest in contests %}
        <div class="contest-container">
            
            <a href="{% url 'photos_page' contest.id %}">
                <img class="contest-photo" src="{{contest.photo_url}}" alt="contest image">
            </a>
            <div class="contest-info">
                <p>{{contest.likes}}</p>
                <p class="grey">{{contest.end_date}}</p>
                <h3>{{contest.name}}</h3>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}