{% extends 'base.html' %}
{% block content %}

<div class="instructions">
    <h4>ABOUT THIS APP</h2>
    <p>Create an account to start a photo contest between your friends and family, or log in to vote for your favorites!</p>     
</div>

<div class="landing-head">
    <h4>MOST RECENT CONTEST</h4>
</div>

<a class="blue-btn" href="contests/create/">Create Contest</a>
<br>
<br>
<div class="landing">
    {% for contest in contests %}
    <div class="contest-card">
        <img class="contest" src="{{contest.photo_url}}" alt="contest image">
        <div class="contest-info">
            <p>{{contest.likes}}</p>
            <p>{{contest.end_date}} | {{contest.members}}</p>
            <h3>{{contest.name}}</h3>
            <a class="blue-btn" href="{% url 'photos_page' contest.id %}">View Contest</a>
        </div>
    </div>
    {% endfor %}
    <div class="contest-card coming-soon">
        <p>More contest coming soon!</p>
    </div>
</div>

{% endblock %}