{% extends 'base.html' %}

{% block content %}
<div class="details">
    <h1>{{ post.title }}</h1>
    <div class="detail-post">
        <img class="detail-photo" src="{{ post.photo_url }}">
        <br>
        {% ifequal post.user user %}
            <a class="blue" href="{% url 'posts_update' post.id %}">Edit Post</a> <span class="grey">|</span> 
            <a class="blue" href="{% url 'posts_delete' post.id %}">Delete Post</a>
        {% endifequal %}
            <p class="grey">{{post.created_at}}</p>
            <h1 class="blue">Likes: {{likes}}</h1>
            <br>
            {% if like == None %}
                {% if has_liked_category == False %}
                    <a href="{% url 'add_like' post.id %}">
                        <img src="https://i.imgur.com/ynVSsqx.png" alt="Like">
                    </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'un_like' like.id %}">
                        <img src="https://i.imgur.com/kK7z5Bx.png" alt="Unlike">
                    </a>
            {% endif %}
            <br>
    </div>
    {% for comment in comments %}
    <br>
    <br>
    <div class="comment-item">
        <p class="grey">{{comment.user.username}}</p>
        <h3 class="blue">{{comment.text}}</h3>
        <br>
        <p class="grey">{{comment.created_at}}</p>
        {% ifequal comment.user user %}
        <div>
            <a class="grey" href="{% url 'comments_update' comment.id %}">Update Comment</a> <span class="grey">|</span> 
            <a class="grey" href="{% url 'comments_delete' comment.id %}">Delete Comment</a>
        </div>
        {% endifequal %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <br>
        <br>
        <div>
            <form action="{% url 'add_comment' post.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <br>
                <input type="submit" class="btn" value="Add Comment">
            </form>
        </div>
    {% else %}
        <p>Please login to comment</p>
    {% endif %}
</div>

{% endblock %}