{% extends 'base.html' %}

{% block content %}
<div class="details">
    <h1>{{ post.title }}</h1>
    
    <div class="detail-post">
        <img class="detail-photo" src="{{ post.photo_url }}">
        <br>
        {% ifequal post.user user %}
            <a class="blue" href="{% url 'posts_update' post.id %}">Edit Post</a> <span class="grey">|</span> 
            <a class="blue" href="{% url 'posts_delete' post.id %}">Delete Post</a>
        {% endifequal %}
            <p>{{post.created_at}}</p>
            <p>Photo likes: {{likes}}</p>
            {% if has_liked == False %}
                {% if has_liked_category == False %}
                    <a href="{% url 'add_like' post.id %}">Like the Photo!</a>

                {% endif %}
            {% else %}
                <a href="{% url 'add_like' post.id %}">UnLike the Photo!</a>
            {% endif %}
            <br>
        
    </div>
    
    {% for comment in comments %}
    <div class="comment-item">
        <p class="blue">{{comment.user.username}}</p>
        <p class="grey">{{comment.created_at}}</p>
        <p>{{comment.text}}</p>
        {% ifequal comment.user user %}
        <br>
        <div>
            <a href="{% url 'comments_update' comment.id %}">Update Comment</a>
            <a class="delete" href="{% url 'comments_delete' comment.id %}">Delete Comment</a>
        </div>
        {% endifequal %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <div>
            <form action="{% url 'add_comment' post.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" class="btn" value="Add Comment">
            </form>
        </div>
    {% else %}
        <p>Please login to comment</p>
    {% endif %}
</div>

{% endblock %}