{% extends 'base.html' %}
{% block content %}

<h1>{{contest.name}}</h1>
<p>{{contest.description}}</p>
<a href="{% url 'contests_update' contest.id %}">Edit Contest</a>
<a href="{% url 'contests_delete' contest.id %}">Delete Contest</a>

<p class="grey-text">Please vote for only one person per category below.</p>
<div>
    
</div>
<div class="categories">
    <a href="#">Nature</a>
    <a href="#">Food</a>
    <a href="#">Animals</a>
    <a href="#">Structure</a>
    <a href="#">People</a>
    <a href="#">Life</a>
</div>

<div class="contest-photos">
    {% for post in posts%}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <img class="photo" src="{{ post.photo_url }}" alt="">
        </div>
    </div>
    <a href="#"></a>
    {% endfor %}
</div>



{% endblock %}