{% extends 'base.html' %}
{% block content %}

<header class="contest-head">
    <div class="contest-info">
        <div>
            <p>{{contest.end_date}}</p>
            <h2>{{contest.name}}</h2>
        </div>
        <div>
            <a href="{% url 'contests_update' contest.id %}">Edit Contest</a>
            <a href="{% url 'contests_delete' contest.id %}">Delete Contest</a>
        </div>
    </div>
    <div class="contest-likes">
        {% if user.is_authenticated %}
            <div class="new-post">
                <a href="{% url 'posts_create' %}">New Post</a>
                <div class="red-btn">30</div>
            </div>    
        {% else %}
            <a class ="blue-btn" href="{% url 'signup' %}">Sign in to vote!</a>
        {% endif %}
    </div>
</header>
    <p class="grey-text">Please vote for only one person per category below.</p>

<div class="categories">
        <a href="/contests/{{contest.id}}?category=N" {% ifequal cat 'N' %}class="active"{% endifequal %}>Nature</a>
        <a href="/contests/{{contest.id}}?category=F" {% ifequal cat 'F' %}class="active"{% endifequal %}>Food</a>
        <a href="/contests/{{contest.id}}?category=A" {% ifequal cat 'A' %}class="active"{% endifequal %}>Animals</a>
        <a href="/contests/{{contest.id}}?category=S" {% ifequal cat 'S' %}class="active"{% endifequal %}>Structure</a>
        <a href="/contests/{{contest.id}}?category=P" {% ifequal cat 'P' %}class="active"{% endifequal %}>People</a>
        <a href="/contests/{{contest.id}}?category=L" {% ifequal cat 'L' %}class="active"{% endifequal %}>Life</a>  
</div>

<div class="landing">
    {% for post in posts%}
    <div class="card">
        <img class="photo" src="{{ post.photo_url }}">
        <div class="info">
            <a class="blue-btn" href="/posts/{{ post.id }}">View Post</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}