{% extends 'base.html' %}
{% block content %}

<div class="index-container">
    <header class="index-head">
        <div class="index-info">
            <div>
                <p class="grey" >Contest Ends: {{contest.end_date}}</p>
                <h1 class="blue" >{{contest.name}}</h1>
                <p>Contest Likes: {{total_likes}} likes</p>
            </div>
            {% ifequal post.user user %}
                <div>
                    <a class="blue" href="{% url 'contests_update' contest.id %}">Edit Contest </a> <span class="grey">|</span> 
                    <a class="blue" href="{% url 'contests_delete' contest.id %}">Delete Contest</a>
                </div>
            {% endifequal %}
        </div>
        <div class="contest-likes">
            {% if user.is_authenticated %}
                <div class="new-post">
                    <a class="blue c-new-post" href="{% url 'posts_create' contest.id %}">Create a New Post</a>  
                </div>
                <br>    
            {% else %}
                <a class ="grey" href="{% url 'signup' %}">Please Sign Up to Create Posts!</a>
            {% endif %}
        </div>
    </header>

    <p class="grey">Please vote for only one person per category below.</p>

    <div class="categories">
        <a href="/contests/{{contest.id}}?category=N" {% ifequal cat 'N' %}class="active"{% endifequal %}>Nature</a>
        <a href="/contests/{{contest.id}}?category=F" {% ifequal cat 'F' %}class="active"{% endifequal %}>Food</a>
        <a href="/contests/{{contest.id}}?category=A" {% ifequal cat 'A' %}class="active"{% endifequal %}>Animals</a>
        <a href="/contests/{{contest.id}}?category=S" {% ifequal cat 'S' %}class="active"{% endifequal %}>Structure</a>
        <a href="/contests/{{contest.id}}?category=P" {% ifequal cat 'P' %}class="active"{% endifequal %}>People</a>
        <a href="/contests/{{contest.id}}?category=L" {% ifequal cat 'L' %}class="active"{% endifequal %}>Life</a>  
    </div>
    
    <div class="post-container">
        {% for post in posts %}
            <a class="posts" href="/posts/{{ post.id }}">
                <img class="photo" src="{{ post.photo_url }}">
            </a>
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="contest-rules grey">
        <h3>Guidelines:</h3>
        <p>Open to Torres family and extended family members to include in-laws, fiance, gf/bf, or bffs</p>
        <p>You may submit up to 3 photos for each of the following: categories:</p>
        <p>Scenery & Nature | Food | Animal | Structure & Objects | Life & People | Humor</p>
        <p>Participation Fee (number of photos submitted):</p>
        <p>1-3 $20 | 4-6 $30 | 7-12 $40 | 13-18 $50</p>
        <p>Collected fee will be used for the prize pool. Donors are welcome.</p>
        <p>Photo must be taken by the participant between September 10th to December 20, 2018</p>
        <p>Photo enhancement filters are allowed.</p>
        <p>Deadline for submission will be on December 20, 2018</p>
        <p>Voting will be conducted during the 2018 Torres Christmas Party</p>
        <p>A winner for each category will be chosen by popular vote.</p>
        <p>A google form will be used to upload photos for consideration. Gmail account required. Site to be announced at a later date.</p>
        <p>Participants may note vote on their own photo.</p>
        <p>Refrain from showing your photos to others prior voting on December 20th.</p>
        <p>Submitted photos must have the “metadata” or detail properties available for verification.</p>
    </div>
</div>
{% endblock %}